<h1>Editing Book</h1>
<% if @book.errors.any? %>
   <p>error can't be blank </p>
<% end %>

<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
 <div class="field">
  <p>Title</p>
  <%= f.text_field :title %>
</div>
<div class="field">
  <p>Body</p>
  <%= f.text_area :body %>
</div>
<div class="actions">
  <%= f.submit 'Update Book' %>
</div>

<div class="show-link">
  <span class="link"><%= link_to "Show", book_path(@book.id) %></span>
  <p>&nbsp;|&nbsp;</p>
  <span class="link"><%= link_to "Back", books_path %></span>
</div>
<% end %>